body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

p {
    font-size: x-large;
   
}

.w3-top{
    position: sticky;
}

.mobilemenu{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    right: 0;
    transform: translate(100%, 4.1em);
    background-color: rgb(255, 255, 255);
    padding: 1em;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease;
}

.mobilemenu > a{
    font-size: 1.5rem;
}

.menu-active{
    transform: translate(-0.2em, 4.1em);
}
#menubutton > img{
    max-width: 2em;
    object-fit: contain;
}